@font-face {
  font-family: 'VCR OSD Mono'; 
    src: url('VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
p {
    color: #333;
}
h1 {
    color: #272727;
    font-weight: normal;
}
.welcomebox {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e0e0e0;
}
.welcome {
    font-family: 'VCR OSD Mono', monospace;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.bootbutton {
    padding: 10px 20px;
    font-size: 20px;
    border: solid 5px #1a1a1a;
    background-color: #e2e2e2;
    color: #1a1a1a;
    cursor: pointer;
    align-self: center;
    width: 100px;
    height: auto;
    font-family: 'VCR OSD Mono', monospace;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.bootbutton:hover {
    padding: 10px 20px;
    border: solid 5px #e2e2e2;
    background-color: #1a1a1a;
    color: #e2e2e2;
    cursor: pointer;
    align-self: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.icon {
    align-self: center;
    width: 250px;
    height: auto;
}